.section{
	display: flex;
	justify-content: center;
	align-items: center;
}

.section form{
	display: flex;
	gap: .5vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section form input[type=submit]{
	background-color: black;
	outline: none;
	border: 2px inset darkgray;
}

.section form input[type=submit]:hover{
	background-color: rgb(153, 153, 153);
	color: black;
	border: 2px inset rgb(75, 75, 75);
}

.section form input[type=submit]:active{
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border: 2px inset rgb(0, 0, 0);
}